
section#about .about-item i.fa {
    padding: 32px !important;
}

form .form-control {
    border-radius: 0 !important;
 }

 form textarea.form-control {
    border-radius: 0 !important;
	height: 150px;
}
header .navbar-default ul.navbar-nav li a {
    text-transform: none !important;
}
section#features img {
    margin-top: 100px !important;
