@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

<div class="pre-loader">
 <div class="load-con">
  <img src="@routes.Assets.versioned("images/bineer-logo.png")" class="animated fadeInDown" alt="">
  <!--<img src="assets/img/
  ng" class="animated fadeInDown" alt="">-->
  <div class="spinner">
   <div class="bounce1"></div>
   <div class="bounce2"></div>
   <div class="bounce3"></div>
  </div>
 </div>
</div>

<header>

 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
     <span class="fa fa-bars fa-lg"></span>
    </button>
    <a class="navbar-brand" href="index.html">
     <img src="@routes.Assets.versioned("images/bineer-logo.png")" alt="" class="logo">
    </a>
   </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav navbar-right">
     <li><a href="#about">Servicios</a></li>
     <!-- <li><a href="#we">Nosotros</a> -->
     <li><a href="#features">Características</a>
     </li>
     <!-- <li><a href="#reviews">reviews</a> -->
     </li>
     <!-- <li><a href="#screens">Screens</a> -->
     </li>
     <!-- <li><a href="#demo">demo</a> -->
     </li>
     <!-- <li><a class="getApp" href="#getApp">get app</a>
     </li> -->
     <li><a href="#support">Contacto</a>
     </li>
    </ul>
   </div>
   <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-->
 </nav>


 <!--RevSlider-->
 <div class="tp-banner-container">
  <div class="tp-banner" >
   <ul>
    <!-- SLIDE  -->
    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
     <!-- MAIN IMAGE -->
     <img src="@routes.Assets.versioned("images/transparent.png")"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
     <!-- LAYERS -->
     <!-- LAYER NR. 1 -->
     <div class="tp-caption lfl fadeout hidden-xs"
          data-x="left"
          data-y="bottom"
          data-hoffset="30"
          data-voffset="0"
          data-speed="500"
          data-start="700"
          data-easing="Power4.easeOut">
      <img src="@routes.Assets.versioned("images/hand-phone.png")" alt="">
     </div>

     <div class="tp-caption lfl fadeout visible-xs"
          data-x="left"
          data-y="center"
          data-hoffset="700"
          data-voffset="0"
          data-speed="500"
          data-start="700"
          data-easing="Power4.easeOut">
      <img src="@routes.Assets.versioned("images/hand-phone.png")" alt="">
     </div>

     <div class="tp-caption large_white_bold sft" data-x="530" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1200" data-easing="Power4.easeOut">
      Programación
     </div>
     <div class="tp-caption large_white_light sfr" data-x="950" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1400" data-easing="Power4.easeOut">
      es
     </div>
     <div class="tp-caption large_white_light sfb" data-x="530" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1500" data-easing="Power4.easeOut">
      ciencia, arte e ingenería
     </div>

     <div class="tp-caption sfb hidden-xs" data-x="530" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1000" data-start="1700" data-easing="Power4.easeOut">
      <a href="#about" class="btn btn-primary inverse btn-lg">CONÓCENOS</a>
     </div>
     <!-- <div class="tp-caption sfr hidden-xs" data-x="730" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1500" data-start="1900" data-easing="Power4.easeOut">
         <a href="#getApp" class="btn btn-default btn-lg">GET APP</a>
     </div>
-->
    </li>

    <!-- SLIDE 3 -->
    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
     <!-- MAIN IMAGE -->
     <img src="@routes.Assets.versioned("images/transparent.png")"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
     <!-- LAYERS -->
     <!-- LAYER NR. 1 -->
     <div class="tp-caption customin customout hidden-xs"
          data-x="right"
          data-y="center"
          data-hoffset="0"
          data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-voffset="50"
          data-speed="1000"
          data-start="700"
          data-easing="Power4.easeOut">
      <img src="@routes.Assets.versioned("images/slider-2.png")" alt="">
     </div>

     <div class="tp-caption customin customout visible-xs"
          data-x="center"
          data-y="center"
          data-hoffset="0"
          data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-voffset="0"
          data-speed="1000"
          data-start="700"
          data-easing="Power4.easeOut">
      <img src="@routes.Assets.versioned("images/slider-2.png")" alt="">
     </div>

     <div class="tp-caption lfb visible-xs" data-x="center" data-y="center" data-hoffset="0" data-voffset="400" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
      <a href="#about" class="btn btn-primary inverse btn-lg">CONÓCENOS</a>
     </div>


     <div class="tp-caption mediumlarge_light_white sfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="-50" data-speed="1000" data-start="1000" data-easing="Power4.easeOut">
      En Bineer creamos
     </div>
     <div class="tp-caption mediumlarge_light_white sft hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
      cosas maravillosas
     </div>
     <div class="tp-caption small_light_white sfb hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="80" data-speed="1000" data-start="1600" data-easing="Power4.easeOut">

      <p>
       Somos un startup de desarrollo de software donde la  actualización<br>
       y creación es permanente. Somos profesionales preparados<br>
       para servir cada vez mejor a nuestros clientes con un objetivo claro: <br>
       <i>"Ganar y ganar"</i>
      </p>
     </div>

     <div class="tp-caption lfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="160" data-speed="1000" data-start="1800" data-easing="Power4.easeOut">
      <a href="#about" class="btn btn-primary inverse btn-lg">CONÓCENOS</a>
     </div>


    </li>

   </ul>
  </div>
 </div>


</header>


<div class="wrapper">



 <section id="about">
  <div class="container">

   <div class="section-heading scrollpoint sp-effect3">
    <h1>Nuestros servicios</h1>
    <!-- <h1>About Us</h1> -->
    <div class="divider"></div>
    <p>En Bineer amamos lo que hacemos</p>
   </div>

   <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
     <div class="about-item scrollpoint sp-effect2">
      <i class="fa fa-laptop fa-2x"></i>
      <h3>Desarrollo Web</h3>
      <p>Desarrollamos <i>e-commerce, portales web, sitios web</i>; cumpliendo con los últimos estándares del mercado y usando las más avanzadas tecnologías.</p>
     </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6" >
     <div class="about-item scrollpoint sp-effect5">
      <i class="fa fa-sitemap fa-2x"></i>
      <h3>Desarrollo de APIs</h3>
      <p>Te ayudamos a orientar y desarrollar tu negocio orientado a microservicios para facilitar la integración con sistemas externos y dispositivos móviles.</p>
     </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6" >
     <div class="about-item scrollpoint sp-effect5">
      <i class="fa fa-th fa-2x"></i>
      <h3>Dockerización y Despliegue</h3>
      <p>Podemos materializar tus proyectos llevándolo a hasta su despligue. Nos apollamos de <i>AWS</i> y <i>Docker</i> para hacer tus sueños realidad.</p>
     </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6" >
     <div class="about-item scrollpoint sp-effect1">
      <i class="fa fa-sliders fa-2x"></i>
      <h3>Soporte dedicado</h3>
      <p>Podemos estar pendientes por tí de cada solución que te desarrollamos. Te cotizamos soporte dedicado para que tengas tranquilidad en tu negocio.</p>
     </div>
    </div>
   </div>
  </div>
 </section>

 <section id="features">
  <div class="container">
   <div class="section-heading scrollpoint sp-effect3">
    <h1>Características</h1>
    <div class="divider"></div>
    <p>Puedes decidir lo que desees para tus productos</p>
   </div>
   <div class="row">
    <div class="col-md-4 col-sm-4 scrollpoint sp-effect1">
     <div class="media text-right feature">
      <a class="pull-right" href="#">
       <i class="fa fa-cogs fa-2x"></i>
      </a>
      <div class="media-body">
       <h3 class="media-heading">Sistemas configurables</h3>
       Adaptamos tus necesidades y las hacemos fácil y flexibles.
      </div>
     </div>
     <div class="media text-right feature">
      <a class="pull-right" href="#">
       <i class="fa fa-envelope fa-2x"></i>
      </a>
      <div class="media-body">
       <h3 class="media-heading">Mensajes de e-mail</h3>
       Podemos integrarnos con cualquier proveedor de e-mail.
      </div>
     </div>
     <div class="media text-right feature">
      <a class="pull-right" href="#">
       <i class="fa fa-users fa-2x"></i>
      </a>
      <div class="media-body">
       <h3 class="media-heading">Lista de amigos</h3>
       Fácil manejo de contactos.
      </div>
     </div>
     <div class="media text-right feature">
      <a class="pull-right" href="#">
       <i class="fa fa-comments fa-2x"></i>
      </a>
      <div class="media-body">
       <h3 class="media-heading">Mensajes de chat en vivo</h3>
       Implementación de mensageía realtime.
      </div>
     </div>
     <div class="media text-right feature">
      <a class="pull-right" href="#">
       <i class="fa fa-calendar fa-2x"></i>
      </a>
      <div class="media-body">
       <h3 class="media-heading">Calendario / Planificador</h3>
       Puedes mantener tú agenda actualizada y programar tus eventos.
      </div>
     </div>
    </div>
    <div class="col-md-4 col-sm-4" >
     <img src="@routes.Assets.versioned("images/features.png")" class="img-responsive scrollpoint sp-effect5" alt="">
    </div>
    <div class="col-md-4 col-sm-4 scrollpoint sp-effect2">
     <div class="media feature">
      <a class="pull-left" href="#">
       <i class="fa fa-map-marker fa-2x"></i>
      </a>
      <div class="media-body">
       <h3 class="media-heading">Mis lugares</h3>
       Integración con Google Maps.
      </div>
     </div>
     <div class="media feature">
      <a class="pull-left" href="#">
       <i class="fa fa-film fa-2x"></i>
      </a>
      <div class="media-body">
       <h3 class="media-heading">Video streaming</h3>
       Podemos hacer pequeñas y medianas integraciones para realizar video streaming.
      </div>
     </div>
     <div class="media feature">
      <a class="pull-left" href="#">
       <i class="fa fa-clock-o fa-2x"></i>
      </a>
      <div class="media-body">
       <h3 class="media-heading">Realtime</h3>
       Siempre tenemos mentalidad <strong>realtime</strong>.
      </div>
     </div>
     <div class="media feature">
      <a class="pull-left" href="#">
       <i class="fa fa-outdent fa-2x"></i>
      </a>
      <div class="media-body">
       <h3 class="media-heading">Diseño Responsive</h3>
       Siempre pensamos en un diseño adaptable y basando en la experiencia del usuario.
      </div>
     </div>
     <div class="media active feature">
      <a class="pull-left" href="#">
       <i class="fa fa-plus fa-2x"></i>
      </a>
      <div class="media-body">
       <h3 class="media-heading">Y mucho más!</h3>
       Estamos preparados para desarrollar cualquier <strong>implementación personalizada</strong>.
      </div>
     </div>
    </div>
   </div>
  </div>
 </section>

 <section id="support" class="doublediagonal">
  <div class="container">
   <div class="section-heading scrollpoint sp-effect3">
    <h1>Contacto</h1>
    <div class="divider"></div>
    <p>
     ¿Estás interesado en comenzar un proyecto? Por favor escríbanos, estaremos encantados en dar nuestra opinión. Nuestra experiencia siempre estará a su disposición.
    </p>
   </div>
   <div class="row">
    <div class="col-md-12">
     <div class="row">
      <div class="col-md-8 col-sm-8 scrollpoint sp-effect1">
       <form role="form">
        <div class="form-group">
         <input type="text" class="form-control" placeholder="Your name">
        </div>
        <div class="form-group">
         <input type="email" class="form-control" placeholder="Your email">
        </div>
        <div class="form-group">
         <textarea cols="30" rows="10" class="form-control" placeholder="Your message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
       </form>
      </div>
      <div class="col-md-4 col-sm-4 contact-details scrollpoint sp-effect2">
       <div class="media">
        <a class="pull-left" href="#" >
         <i class="fa fa-map-marker fa-2x"></i>
        </a>
        <div class="media-body">
         <h4 class="media-heading">Quito, Pichincha, Ecuador</h4>
        </div>
       </div>
       <div class="media">
        <a class="pull-left" href="#" >
         <i class="fa fa-envelope fa-2x"></i>
        </a>
        <div class="media-body">
         <h4 class="media-heading">
          @*<a href="@Html("info@bineer.com")">@Html("info@bineer.com")</a>*@
         </h4>
        </div>
       </div>
       <div class="media">
        <a class="pull-left" href="#" >
         <i class="fa fa-phone fa-2x"></i>
        </a>
        <div class="media-body">
         <h4 class="media-heading">+0 593 995699358</h4>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </section>

 <footer>
  <div class="container">
   <a href="#" class="scrollpoint sp-effect3">
    <img src="@routes.Assets.versioned("images/bineer-logo.png")" alt="" class="logo">
   </a>
   <div class="social">
    <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
    <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
    <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
   </div>
   <div class="rights">
    <p>Copyright &copy; 2017</p>
   </div>
  </div>
 </footer>

</div>
}
